/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.letters p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  width: 24px;
  height: 24px;
  background-color: #3398db;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  border-radius: 1px;
  gap: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}
